/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #68C8C9;
	font-family: Calibri;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 5;
}

#header {
	background: #C96968;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
  padding: 20px;
	position: fixed;
	width: 100%;
}

.headerPart {
  float: left;
  height: 100%;
  width: 33%;
}

h3 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 0px 20px 0px;
}

#searchOptions {
	margin: auto;
	width: 330px;
}

.searchOption {
	background: #DAA7A7;
	font-size: 17px;
	padding: 3px 0px;
	text-align: center;
}

#searchButtonContainer {
	text-align: center;
	vertical-align: middle;
}

input {
	background: white;
	border: none;
	outline: none;
	padding: 5px;
}

button {
	background: #CDD1D1;
	border: none;
	font-family: Calibri;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 20px;
}

button:hover {
	background: #BDBDBD;
	cursor: pointer;
}

#results {
	background: #68C8C9;
	height: auto;
	overflow: hidden;
	padding-top: 280px;
}

#houseImg {
  float: right;
  margin-right: 50px;
	width: 130px;
}

#resultInfo {
	font-weight: bold;
	text-align: center;
}

.result {
	background: rgb(215, 230, 250);
	height: auto;
	margin: 15px auto;
	overflow: hidden;
	padding: 20px;
	width: 1000px;
}

.resultTitle {
	font-size: 18px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

.resultText {
	line-height: 120%;
}

.resultAddress {
	line-height: 120%;
	margin-bottom: 10px;
}

.resultLink {
	color: rgb(59, 101, 138);
	font-weight: bold;
	text-decoration: none;
}

.resultLink:hover {
	text-decoration: underline;
}

#moreButtonContainer {
  margin: 20px auto;
  width: 88px;
}